---
import Layout from "../../layouts/Layout.astro";
import BlockReveal from "../../components/BlockReveal.astro";
---

<Layout title="Gallery - Mariano Juarez">
  <div
    class="bg-black flex flex-col justify-center items-center h-screen text-9xl font-raster font-bold"
  >
    <a href="/">Back</a>
    <BlockReveal as="h1" class="text-9xl" blockColor="var(--color-yellow)">
      Gallery
    </BlockReveal>
  </div>
</Layout>
