<footer class="absolute bottom-4 left-0 flex items-end  md:items-center justify-between w-full px-3 lg:px-8">
  <p class="max-w-3xs font-medium text-sm text-justify">Mariano Juarez - 2026 © Todos los derechos reservados</p>
  <ul class="sm:inline-flex space-y-1 sm:gap-4 sm:space-y-0">
    <li><a href="" class="hover:blur-[1.5px] transition-all duration-300">Linkedin</a></li>
    <li><a href="" class="hover:blur-[1.5px] transition-all duration-300">Behance</a></li>
    <li><a href="" class="hover:blur-[1.5px] transition-all duration-300">Instagram</a></li>
  </ul>
</footer>
