---
import Marquee from "./marquee.astro";
---

<header class="space-y-12 bg-yellow text-black">
  <Marquee />
  <h1 class="font-raster px-3 lg:px-8 text-9xl big-text sm:leading-[0.85] sr-only sm:not-sr-only sm:block">
    Mariano Juarez
  </h1>
  <h1 class="font-raster px-3 lg:px-8 big-text -tracking-tighter font-bold leading-[0.85] sm:hidden">
    MJ
  </h1>
</header>