---
import Marquee from "./marquee.astro";
---

<header class="space-y-12 bg-yellow text-black">
  <Marquee />
  <h1
    class="sm:px-3 lg:px-8 big-text sm:leading-[0.85] sr-only sm:not-sr-only sm:inline-block"
  >
    Mariano Juarez
  </h1>
  <h1 class="px-3 big-text -tracking-tighter leading-[0.85] sm:hidden">
    MJ
  </h1>
</header>
