---
import Marquee from "./marquee.astro";
---

<header class="space-y-8 md:space-y-10 bg-yellow">
  <Marquee />
  <h1
    class="name-style big-text sm:px-3 lg:px-8 sm:leading-[0.9] sr-only sm:not-sr-only sm:inline-block"
  >
    Mariano Juarez
  </h1>
  <h1 class="name-style big-text pb-1 px-3 -tracking-tighter leading-[0.9] sm:hidden">
    MJ
  </h1>
</header>
