---
interface Props {
    color?: string;
}

const {
    color = "bg-black text-yellow",
} = Astro.props;
---

<section
  class={`relative font-space-mono-bold py-2 overflow-hidden whitespace-nowrap group ${color}`}
>
  <div class="marquee-wrapper">
    <div class="marquee-content">
      <div class="marquee-group">
        <div class="marquee-item">
          <span>trabajemos juntos</span>
          <span class="mx-2">→</span>
          <span>mjrzfesta@gmail.com</span>
        </div>
        <div class="marquee-item">
          <span class="mx-2">→</span>
          <span>Disponible full time o freelance</span>
        </div>
      </div>
      <div class="marquee-group" aria-hidden="true">
        <div class="marquee-item">
          <span>trabajemos juntos</span>
          <span class="mx-2">→</span>
          <span>mjrzfesta@gmail.com</span>
        </div>
        <div class="marquee-item">
          <span class="mx-2">→</span>
          <span>Disponible full time o freelance</span>
        </div>
      </div>
    </div>
  </div>
  <a
    href="mailto:mjrzfesta@gmail.com"
    class="absolute inset-0 z-10"
    aria-label="mjrzfesta@gmail.com"
    title="mjrzfesta@gmail.com"></a>
</section>

<style>
  @reference "../styles/global.css";
  .marquee-wrapper {
    display: flex;
  }

  .marquee-content {
    display: flex;
    flex-shrink: 0;
    width: max-content;
    animation: marquee 25s linear infinite;
  }

  .marquee-group {
    display: flex;
    flex-shrink: 0;
    @apply gap-14 md:gap-28 items-center;
    @apply pr-14 md:pr-28;
  }

  .marquee-item {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    text-transform: uppercase;
    @apply text-xl lg:text-2xl 2xl:text-3xl lg:tracking-tight  2xl:tracking-tighter;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
</style>
