<section
  class="relative font-space-mono-bold py-2 overflow-hidden border-y border-white/5 whitespace-nowrap group"
>
  <div class="marquee-wrapper">
    <div class="marquee-content">
      <div class="marquee-item">
        <span>contactme</span>
        <span class="mx-2">→</span>
        <span>mjrzfesta@gmail.com</span>
      </div>
      <div class="marquee-item">
        <span class="mx-2">→</span>
        <span>Disponible full time o freelance</span>
      </div>
      <div class="marquee-item">
        <span class="mx-2">→</span>
        <span>contactme</span>
        <span class="mx-2">→</span>
        <span>mjrzfesta@gmail.com</span>
      </div>
      <div class="marquee-item">
        <span class="mx-2">→</span>
        <span>Disponible full time o freelance</span>
      </div>
      <div class="marquee-item">
        <span class="mx-2">→</span>
        <span>contactme</span>
        <span class="mx-2">→</span>
        <span>mjrzfesta@gmail.com</span>
      </div>
      <div class="marquee-item">
        <span class="mx-2">→</span>
        <span>Disponible full time o freelance</span>
      </div>
    </div>
  </div>
  <a
    href="mailto:mjrzfesta@gmail.com"
    class="absolute inset-0 z-10"
    aria-label="mjrzfesta@gmail.com"
    title="mjrzfesta@gmail.com"></a>
</section>

<style>
  @reference "../styles/global.css";
  .marquee-wrapper {
    display: flex;
    width: max-content;
  }

  .marquee-content {
    display: flex;
    animation: marquee 40s linear infinite;
    @apply gap-14 md:gap-28 items-center;
  }

  .marquee-item {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    @apply text-xl lg:text-2xl;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-33.333%);
    }
  }
</style>
